## .db.ini - Database configuration settings

[DATABASE]
# Host may work better as IP address than 'localhost'
# Default: 127.0.0.1
DB_HOST=127.0.0.1
# Default: 3306
DB_PORT=3306
# Default: database
DB_NAME=sql-joins
# Default: dbuser
DB_USER=dbuser
# Password for the database. Quoting allows for more special characters.
DB_PASSWORD="change_me"
# SSL Certificate Authority. macOS: /private/etc/ssl/cert.pem
DB_SSL_CA=/private/etc/ssl/cert.pem

# May optionally set a TIME_ZONE key if you don't want to use UTC.
TIME_ZONE=UTC