.env
db.ini
.env
.env.backup
vendor
node_modules
.DS_Store
**/.DS_Store
.phpunit.result.cache
docker-compose.override.yml
npm-debug.log
yarn-error.log
/.idea
/.vscode
**/.DS_Store
/
/package-lock.json
/composer.lock
.rnd
.vercel
